APP_NAME=Clinix
APP_URL=http://localhost:8000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=clinix
DB_USER=root
DB_PASS=
SESSION_NAME=clinix_session
PANEL_ACCESS_TOKEN=clinix-painel-2026
DEFAULT_TENANT_ID=1
LGPD_TERM_VERSION=v1.0
LGPD_RETENTION_DAYS_DEFAULT=1825
